body {
  background-color: #eee;  
}

input{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
}
textarea{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
}

input[readonly="True"]{
  background-color: #f0f0f0;
}

select{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
}

ul {
 list-style-type: none;
}

.c-red{
  color: red;
}

.errorlist{
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;  
}

.muted{
  color: gray;
}

select[name="vendedor"]{
  display: none;  
}


.rightA{
	text-align: right;
}

.short-input{
  max-width: 100px;
}
