<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Granjero </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  </head>

  <body>

    <div class="container">
    <div class="panel panel-default">
    <div class="panel-heading"><h4>Ordenes de Productos</h4></div>
  <div class="panel-body">

<div class="col-md-6">

  <div class="form-group">
    <label for="inputComprador" class="col-sm-3 control-label">Comprador</label>
    <div class="col-sm-10">
       <input class="form-control" id="disabledInput" type="text" placeholder="{value-comprador}" disabled name="comprador">
    </div>
  </div>
 
 <div class="form-group">
    <label for="inputTotal" class="col-sm-3 control-label">Total</label>
    <div class="col-sm-10">
       <input class="form-control" id="disabledInput" type="text" placeholder="{total}" disabled name="total">
    </div>
  </div>
 

  </div>


<div class="col-md-6">

  <div class="form-group">
    <label for="inputDirEnvio" class="col-sm-3 control-label">Dir. de envio</label>
    <div class="col-sm-10">
       <input class="form-control" id="disabledInput" type="text" placeholder="{value-direnvio}" disabled name="direnvio">
    </div>
  </div>
 
 <div class="form-group">
    <label for="inputHoraEnvio" class="col-sm-3 control-label">Hora envio</label>
    <div class="col-sm-10">
       <input class="form-control" id="disabledInput" type="text" placeholder="{value-horaenvio}" disabled name="horaenvio">
    </div>
  </div>

  </div>

    <table class="table table-hover">
       <thead>
        <tr> <th>#</th> <th>Comprador</th> <th>Direccion de envio</th> <th>Hora de envio</th></tr>
        </thead> 
        <tbody> 
        <tr> <th scope="row">1</th> <td>Mr. Jose</td> <td>Otto Ave 213</td> <td>14:34</td> <td>4</td></tr> 
        <tr> <th scope="row">2</th> <td>Orton</td> <td>Thornton blv</td> <td>11:44</td> <td>5</td></tr>
         <tr> <th scope="row">3</th> <td>Cambridge</td> <td>the Bird 54 ave</td> <td>12:3</td> <td>6</td></tr> 
        </tbody>
     </table>
  </div>
</div>
    </div>

    <!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->
   <!-- <script type="text/javascript" src="/js/dropdown.js"></script>-->
  </body>
</html>
