{% extends 'base.html' %}

{% block content %}
     <table class="table table-hover table-striped">
       <thead>
        <tr>
            <th>Nombre</th><th>Puntuación</th><th>Accion</th>           
          </tr>
        </thead> 
        <tbody>
          {% for i in vendedores %}
          <tr>
            <td>{{i.nombre}}</td>
            <td>{{i.puntuacion}}</td>
            <td><center><a href='vendedores/{{i.id}}' class="btn btn-primary btn-sm">Ver</a></center></td>
          </tr>
          {% endfor %} 
        </tbody>
     </table>
{% endblock %}