{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{titulo}}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/yeti.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}          
  </head>
  <body>
  <div class="input-group">
      <div class="input-group-btn">
        <a href="/" class="btn btn-default">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
        <a href="/categorias" class="btn btn-default">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        </a>
        <a href="/ordenes" class="btn btn-default">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        </a>
      </div>
      <input type="text" class="form-control" placeholder="Buscar...">
      <div class="input-group-btn">
        {% block botones %}{% endblock %}          
        <a href="/busqueda" class="btn btn-default">
          <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
        </a>
        <a href="/salir" class="btn btn-default">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
  </div>
  <br>
  {% block content %}{% endblock %}

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>            

    {% block js %}{% endblock %}         
  </body>
</html>
