{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{titulo}}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/yeti.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}          
  </head>
  <body>
  <div class="input-group">
      <div class="input-group-btn">
        <a href="/" class="btn btn-default">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
        {% if user.usuario.tipo == 'Vendedor' %}
          <a href="/productos/nuevo" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        {% endif %}
        <a href="/categorias" class="btn btn-default">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
        </a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <span class="caret"></span>
          <span class="badge">{{q}}</span>
        </button>
        <ul class="dropdown-menu">
          {% if user.usuario.tipo == 'Comprador' %}
            <li><a href="/carrito">Carrito</a></li>
          {% endif %}      
          <li><a href="/ordenes">En proceso</a></li>
          <li><a href="/ordenes/historial">Historial</a></li>
        </ul>
        
      </div>
      <form method="POST" action="/busqueda">{% csrf_token %} 
        <input type="text" class="form-control" placeholder="Buscar..." name="filtro" id="filtro">
      </form>
      <div class="input-group-btn">
        {% block botones %}{% endblock %}                  
        <a href="/salir" class="btn btn-default">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
  </div>
  <br>
  {% block content %}{% endblock %}

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collapse.js' %}"></script>            
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    
    <script>            
      $(function(){
        $(".table").tablesorter();
      });      
    </script>    
    <script>
      jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
      });
    </script>
    {% block js %}{% endblock %}             
  </body>
</html>
