{% extends 'base.html' %}

{% block content %}
     <table class="table table-hover table-striped">
       <thead>
        <tr>
            <th>Nombre</th><th>Descripcion</th>           
          </tr>
        </thead> 
        <tbody>
          {% for i in categorias %}
          <tr class="clickable-row" data-href='/categorias/{{i.id}}'>
            <td>{{i.nombre}}</td>
            <td>{{i.descripcion}}</td>
          </tr>
          {% endfor %} 
        </tbody>
     </table>
{% endblock %}