{% load staticfiles %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/yeti.min.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title></title>
</head>
<body>
<div class="row">
  <div class="col-md-12">
  	<div class="jumbotron">
     <center> <h1>Bienvenido</h1></center>
    </div>
  </div>  
</div>
  <div class="col-md-8">
    <form class="form-horizontal" action="#" method="POST">{% csrf_token %}
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Correo</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3"  name="email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Clave</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" name="password">
        </div>
      </div>      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
      </div>
    </form>
  </div>
</div>
  {% if error == '1' %}
    <div class="alert alert-danger" role="alert"><center>Error al iniciar sesión. Verifique los datos proporcionados.<center></div>
  {% endif%}
</body>
</html>
