{% extends 'base.html' %}

{% block content %}
     <table class="table table-hover table-striped">
       <thead>
        {% block thead %}{% endblock %}        
        </thead> 
        <tbody> 
         {% for i in ordenes %}
          <tr {% if i.anulado == 1 %} class="danger"{% elif i.entregado == 1 %}class="success"{% endif %}>
            {% block tbody %}{% endblock %}
          </tr>
          {% endfor %}  
        </tbody>
     </table>
{% endblock %}

{% block botones %}
	<li><a href="/ordenes/historial">Ver historial</a></li>
{% endblock %}
