{% extends 'base.html' %}

{% block content %}
     <table class="table table-hover table-striped">
       <thead>
        {% block thead %}{% endblock %}        
        </thead> 
        <tbody> 
         {% for i in ordenes %}
          <tr class="clickable-row {% if i.anulado == 1 %} danger{% elif i.entregado == 1 %} success{% endif %}" data-href='{% block rowlink %}{% endblock %}'>
            {% block tbody %}{% endblock %}
          </tr>
          {% endfor %}  
        </tbody>
     </table>
{% endblock %}

{% block botones %}
	<li><a href="/ordenes/historial">Ver historial</a></li>
{% endblock %}
