{% extends 'base.html' %}

{% block content %}
     <table class="table table-hover table-striped">
       <thead>     
         <tr>   
            {% block thead %}{% endblock%}
          </tr>                     
        </thead> 
        <tbody>
          {% for i in productos %}
          <tr {% if user.usuario.tipo == 'Vendedor' %} class="clickable-row {% if i.activo == 0 %} warning {% endif %}" data-href='{% block rowlink %}{% endblock %}' {% endif %}>
            {% block tbody %}{% endblock%}
          </tr>
          {% endfor %} 
        </tbody>
     </table>
{% endblock %}
